img {
    max-width: 100%;
    width: 395px;
    height: 395px;
}

img:hover {
    max-width: none;
    width: 100%;
    height: 100%;
}

section {
    text-align: center;
}

.foto {
    border-radius: 5px;
    width: 75%;
    background-color: cornflowerblue;
    margin: auto;
}

#texto {
    text-align: center;
    position: absolute;
    margin-top: -30px;
}